<div class="modal fade" id="userReward" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-edit-user">
        <div class="modal-content">
            <div class="modal-header bg-transparent">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pb-5 px-sm-5 pt-50">
                <div class="row">
                    <h1 class="text-center mb-1">Шагнал урамшуулал</h1>
                    <hr>
                    {% if not join_req %}
                    <div class="col-xl-3 mb-2">
                        <div class="card-border">
                            <div class='text-center fw-bolder mb-1' style='font-size: 16px' id='formTitle'>Үүсгэх</div>
                            <form id="userRewardForm" class="row gy-1" onsubmit="logSubmit(event)">
                                <div class="col-12">
                                    <label class="form-label">Шагнал:</label>
                                    <select name="static_shagnal" id="static_shagnal" class="select2 form-select">
                                        <option value="">--- Сонгоно уу ---</option>
                                        {% for shagnal in shagnals %}
                                            <option value="{{shagnal.id}}">
                                                {{shagnal.name}}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-12 position-relative">
                                    <label class="form-label">Шагнагдсан он:</label>
                                    <input type="date" id="what_year" name="what_year" class="form-control pickadate-months-year-1900-2030 flatpickr-input" placeholder="YYYY-MM-DD" data-msg="Хугацаа сонгоно уу" />
                                </div>
                                <div class="col-12">
                                    <label class="form-label">Тайлбар:</label>
                                    <textarea id="desc" name="desc" class="form-control" rows="3"></textarea>
                                </div>
                                <div class="col-12 text-center mt-2 pt-50">
                                    <button id='submitbtn' type="submit" class="btn btn-primary me-1">Оруулах</button>
                                    <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">
                                        Болих
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    {% endif %}
                    <div class="col-xl-9 table-responsive card-datatable">
                        <div class="card-border">
                            <table class="table user-reward-table ">
                                <thead class="table-light">
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>Шагналын нэр</th>
                                        <th>Шагнагдсан он</th>
                                        <th>Тайлбар</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="reward-warning" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered modal-edit-user">
        <div class="modal-content">
            <div class="modal-header bg-transparent">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <div class="text-center">
                    <i class="fas fa-exclamation-circle text-warning fs-40"></i>
                </div>
                <h6 class="mt-1 mb-1 fw-bolder">Анхааруулга<h6>
                <span class="modal-text">Та устгахдаа итгэлтэй байна уу?</span>
            </div>
            <div class="modal-footer">
                <button
                    class="btn btn-primary"
                    type="button"
                    data-bs-dismiss="modal"
                    onclick="removeReward(event)"
                >
                    <span>Тийм</span>
                </button>
                <button
                    class="btn btn-outline-secondary"
                    data-bs-dismiss="modal"
                >
                    Үгүй
                </button>
            </div>
        </div>
    </div>
</div>
