<div class="form-group {% if field.errors %}has-error{% endif %}">
    {% if field.label %}
        <label class="control-label {% if style.hide_label %}sr-only{% endif %}">
            {{ field.label }}
        </label>
    {% endif %}

    <div class="col-sm-12">
        <select class="select2 form-select" {{ field.choices|yesno:",disabled" }} multiple name="{{ field.name }}">
            {% for select in field.iter_options %}
                {% if select.start_option_group %}
                    <optgroup label="{{ select.label }}">
                {% elif select.end_option_group %}
                    </optgroup>
                {% else %}
                    <option value="{{ select.value }}" {% if select.value in field.value %}selected{% endif %} {% if select.disabled %}disabled{% endif %}>{{ select.display_text }}</option>
                {% endif %}
                    {% empty %}
                        <option>{{ no_items }}</option>
            {% endfor %}
        </select>

        {% if field.errors %}
            {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        {% endif %}

        {% if field.help_text %}
            <span class="help-block">{{ field.help_text|safe }}</span>
        {% endif %}
    </div>
</div>
