{% extends 'base.html' %}

{% load static %}
{% load mytags %}

{% block vendorcss %}

<link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/tables/datatable/dataTables.bootstrap5.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/tables/datatable/responsive.bootstrap5.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/pickers/flatpickr/flatpickr.min.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugins/forms/pickers/form-flat-pickr.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugins/forms/pickers/form-pickadate.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/pickers/pickadate/pickadate.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/pickers/flatpickr/flatpickr.min.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/components.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'app-assets/fonts/font-awesome/css/font-awesome.min.css' %}" />
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

<link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/editors/quill/katex.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/editors/quill/monokai-sublime.min.css' %}">

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Inconsolata&amp;family=Roboto+Slab&amp;family=Slabo+27px&amp;family=Sofia&amp;family=Ubuntu+Mono&amp;display=swap">

<link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/jkanban/jkanban.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/pages/app-kanban.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/forms/wizard/bs-stepper.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugins/forms/form-wizard.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/extensions/jquery.rateyo.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugins/extensions/ext-component-ratings.css' %}">
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">

<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/schedule.css' %}" />

{% endblock vendorcss %}
{% block css %}
<link
	rel="stylesheet"
	type="text/css"
	href="{% static 'app-assets/css/plugins/forms/form-validation.css' %}"
/>
{% endblock css %}

{% block content %}

<div class="content-body">
    <div class="card">
        <div class="card-body border-bottom">
            <h4 class="card-title">Ажилчдын жагсаалт</h4>
            <div class="row">
                <div class="col-md-4 user_role"></div>
                <div class="col-md-4 user_plan"></div>
                <div class="col-md-4 user_status"></div>
            </div>
        </div>
        <div class="card-datatable table-responsive pt-0">

            <table class="user-list-table table table-bordered">
                <thead class="table-light">
                    <tr class="filter-container"></tr>
                    <tr>
                        <th></th>
                        <th>Ургийн овог</th>
                        <th>Овог</th>
                        <th>Нэр</th>
                        <th>Ажилтны ID</th>
                        <th>Салбар сургуулийн нэр</th>
                        <th>Тэнхимийн нэр</th>
                        <th>Ажлын байр</th>
                        <th>Цахим хаяг</th>
                        <th>Утасны дугаар</th>
                        <th>Регистр</th>
                        <th>Хүйс</th>
                        <th>Анкет</th>
                        <th>Шинэ ажилтны бүртгэлийн хуудас</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th>Ургийн овог</th>
                        <th>Овог</th>
                        <th>Нэр</th>
                        <th>Ажилтны ID</th>
                        <th>Салбар сургуулийн нэр</th>
                        <th>Тэнхимийн нэр</th>
                        <th>Ажлын байр</th>
                        <th>Цахим хаяг</th>
                        <th>Утасны дугаар</th>
                        <th>Регистр</th>
                        <th>Хүйс</th>
                        <th>Анкет</th>
                        <th>Шинэ ажилтны бүртгэлийн хуудас</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

{% endblock content %}

{% block js %}

<script src="{% static 'app-assets/vendors/js/tables/datatable/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/tables/datatable/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/tables/datatable/responsive.bootstrap5.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/tables/datatable/datatables.buttons.min.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/tables/datatable/jszip.min.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/tables/datatable/pdfmake.min.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/tables/datatable/vfs_fonts.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/tables/datatable/buttons.html5.min.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/tables/datatable/buttons.print.min.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/tables/datatable/dataTables.rowGroup.min.js' %}"></script>
<script src="{% static 'app-assets/js/scripts/tables/table-datatables-advanced.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/forms/cleave/cleave.min.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/forms/cleave/addons/cleave-phone.us.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/extensions/jstree.min.js' %}"></script>
<script src="{% static 'app-assets/js/scripts/tables/table-datatables-fixedColumns.min.js' %}"></script>

<script src="{% static 'app-assets/vendors/js/pickers/pickadate/picker.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/pickers/pickadate/picker.date.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/pickers/pickadate/picker.time.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/pickers/pickadate/legacy.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/forms/wizard/bs-stepper.min.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/forms/repeater/jquery.repeater.min.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/extensions/jquery.rateyo.min.js' %}"></script>
<script src="{% static 'app-assets/js/scripts/forms/pickers/form-pickers.js' %}"></script>

<script src="{% static 'app-assets/vendors/js/editors/quill/katex.min.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/editors/quill/highlight.min.js' %}"></script>

<script src="{% static 'app-assets/vendors/js/jkanban/jkanban.min.js' %}"></script>

<script src="{% static 'app-assets/vendors/js/forms/wizard/bs-stepper.min.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/forms/repeater/jquery.repeater.min.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/extensions/jquery.rateyo.min.js' %}"></script>

<script src="{% static 'assets/js/browser.js' %}"></script>

<script src="{% static 'assets/js/pages/worker/scripts.js' %}"></script>

<script>

    const SUB_ORGS = [{% for sub_org in sub_org.sub_org_list %} {"id": "{{sub_org.id}}", "name": "{{sub_org.name}}"}, {%endfor%}]

    cloneFooter(
		".user-list-table",
		[
			1, 2, 3, 4,
			5, 6, 7, 8,
			9, 10, 11
		],
		{
			5: {
				type: "select",
				options: SUB_ORGS,
			}
		}
	)

	const dt = $(".user-list-table").DataTable({
		processing: false,
		dom: 'lBfrtip',
		serverSide: true,
		fixedColumns: {
			left: 1,
			right: 2,
		},
		scrollCollapse: true,
        scrollX: true,
		scrollY: "470px",
		ajax: { url: "/worker/pagination/all/" },
		columns: [
			{ data: null },
			{ data: "curgiin_ovog" },
			{ data: "clast_name" },
			{ data: "cfirst_name" },
			{ data: "register_code" },
			{ data: "ex_csub_org_id" },
			{ data: "salbar__name" },
			{ data: "org_position__name" },
			{ data: "cemail" },
			{ data: "cphone_number" },
			{ data: "cregister" },
			{ data: "gender_name" },
			{ data: null },
			{ data: null },
		],
		columnDefs: [
			{
				targets: 0,
				title: "#",
				orderable: false,
				render: function (data, type, full, meta) {
					return (
						meta.settings._iDisplayStart + meta.row + 1
					);
				},
			},
			{
				targets: 12,
				orderable: false,
				render: function (data, type, full, meta)
                {
					if(full.anket.have_file)
					{
						return (
						`
							<div style='width: 90px;' class='badge bg-success' >
								<a
									class="delete-record"
                                    href='${full.anket.file_url}'
                                    data-bs-toggle="tooltip" data-bs-placement="left" data-bs-original-title="Татах (${full.anket.file_name})"
								>
                                    Бөглөсөн
									<span>
										${feather.icons["arrow-down"].toSvg({
											class: "font-small-4",
										})}
									</span>
								</a>
							</div>
						`
					    );
					}
					else
                    {
                        return (
						`
							<div class='badge bg-danger' style='width: 90px;' >
                                Бөглөөгүй
							</div>
						`
					    );
                    }
					return null
				},
			},
            {
				targets: 13,
				orderable: false,
				render: function (data, type, full, meta)
                {
					if(full.new_employee_registration_form.have_file)
					{
						return (
						`
							<div style='width: 90px;' class='badge bg-success' >
								<a
									class="delete-record"
                                    href='${full.anket.file_url}'
                                    data-bs-toggle="tooltip" data-bs-placement="left" data-bs-original-title="Татах (${full.anket.file_name})"
								>
                                    Бөглөсөн
									<span>
										${feather.icons["arrow-down"].toSvg({
											class: "font-small-4",
										})}
									</span>
								</a>
							</div>
						`
					    );
					}
					else
                    {
                        return (
						`
							<div class='badge bg-danger' style='width: 90px;' >
                                Бөглөөгүй
							</div>
						`
					    );
                    }
					return null
				},
			},
		],
		order: [[4, "asc"]],
		lengthMenu: [
			[10, 25, 50, 100, -1],
			[10, 25, 50, 100, 'Бүгд'],
		],
		dom:
            '<"d-flex justify-content-between align-items-center header-actions mx-2 row mt-75"' +
            '<"col-sm-12 col-lg-4 d-flex justify-content-center justify-content-lg-start" l>' +
            '<"col-sm-12 col-lg-8 ps-xl-75 ps-0"<"dt-action-buttons d-flex align-items-center justify-content-center justify-content-lg-end flex-lg-nowrap flex-wrap"<"me-1">B>>' +
            ">t" +
            '<"d-flex justify-content-between mx-2 row mb-1"' +
            '<"col-sm-12 col-md-6"i>' +
            '<"col-sm-12 col-md-6"p>' +
            ">",
        oLanguage: {
            sProcessing: "Ачааллаж байна. ",
            sSearch: "Хайх: ",
            sEmptyTable: "Бичлэг байхгүй",
            sInfoEmpty: "Нийт 0 бичлэг",
            sInfo: "Дэлгэцэнд: _START_ - _END_ Нийт: _TOTAL_ бичлэг",
            sInfoFiltered: " - _MAX_ бичлэгээс",
            sLengthMenu: "_MENU_ бичлэг",
            oPaginate: {
                sFirst: "Эхэнд",
                sLast: "Төгсгөлд",
                sNext: "Дараах",
                sPrevious: "Өмнөх",
            },
        },
        // Buttons with Dropdown
        buttons: [
            {
                extend: "collection",
                className: "btn btn-outline-secondary dropdown-toggle me-2",
                text:
                    feather.icons["external-link"].toSvg({
                        class: "font-small-4 me-50",
                    }) + "Export",
                buttons: [
                    {
                        extend: "print",
                        text:
                            feather.icons["printer"].toSvg({
                                class: "font-small-4 me-50",
                            }) + "Print",
                        className: "dropdown-item",
						exportOptions: {
							columns: ':visible'
						}
                    },
                    {
                        extend: "csv",
                        text:
                            feather.icons["file-text"].toSvg({
                                class: "font-small-4 me-50",
                            }) + "Csv",
                        className: "dropdown-item",
						exportOptions: {
							columns: ':visible'
						},
                    },
                    {
                        extend: "excel",
                        text:
                            feather.icons["file"].toSvg({
                                class: "font-small-4 me-50",
                            }) + "Excel",
                        className: "dropdown-item",
						exportOptions: {
							columns: ':visible'
						}
                    },
                    {
                        extend: "pdf",
                        text:
                            feather.icons["clipboard"].toSvg({
                                class: "font-small-4 me-50",
                            }) + "Pdf",
                        className: "dropdown-item",
						exportOptions: {
							columns: ':visible'
						},
						orientation: "landscape"
                    },
                    {
                        extend: "copy",
                        text:
                            feather.icons["copy"].toSvg({
                                class: "font-small-4 me-50",
                            }) + "Copy",
                        className: "dropdown-item",
						exportOptions: {
							columns: ':visible'
						}
                    },
                ],
                init: function (api, node, config) {
                    $(node).removeClass("btn-secondary");
                    $(node).parent().removeClass("btn-group");
                    setTimeout(function () {
                        $(node)
                            .removeClass("btn-group")
                            .addClass("d-inline-flex mt-50");
                    }, 50);
                },
            },
            {
				extend: "collection",
				className: "btn btn-outline-secondary flaot-start px-1 me-2 dropdown-toggle custom-a-none",
				text: 'Төлөв: Нийт ажилчид',
				config: {
					left: 0,
					right: 0
				},
                attr: {
                    "id": "slipSearchBtn",
                    "style": "margin-top: 7px"
                },
				buttons: [
					{
						extend: "",
						text: "Нийт ажилчид",
						className: "dropdown-item",
                        action: function(e, slipTable, node, config) {
                            const dropDownBtn = $('#slipSearchBtn')
                            dropDownBtn.trigger("click")
                            dotoodState = 'self'
                            dropDownBtn.html('Төлөв: Нийт ажилчид')
							slipTable.ajax.url(`/worker/pagination/all/`).load()
						},
					},
                    {
						extend: "",
						text: "Үндсэн ажилчид",
						className: "dropdown-item",
                        action: function(e, slipTable, node, config) {
                            const dropDownBtn = $('#slipSearchBtn')
                            dropDownBtn.trigger("click")
                            dotoodState = 'approved'
                            dropDownBtn.html('Төлөв: Үндсэн ажилчид')
							slipTable.ajax.url(`/worker/pagination/employee/`).load()
						},
					},
					{
						extend: "",
						text: "Гэрээт ажилчид",
						className: "dropdown-item",
                        action: function(e, slipTable, node, config) {
                            const dropDownBtn = $('#slipSearchBtn')
                            dropDownBtn.trigger("click")
                            dotoodState = 'pending'
                            dropDownBtn.html('Төлөв: Гэрээт ажилчид')
							slipTable.ajax.url(`/worker/pagination/contract/`).load()
						},
					},
                    {
						extend: "",
						text: "Түр ажилчид",
						className: "dropdown-item",
                        action: function(e, slipTable, node, config) {
                            const dropDownBtn = $('#slipSearchBtn')
                            dropDownBtn.trigger("click")
                            dotoodState = 'declined'
                            dropDownBtn.html('Төлөв: Түр ажилчид')
							slipTable.ajax.url(`/worker/pagination/parttime/`).load()
						},
					},
				]
			},
        ],
	});
	searchFooter(dt)

</script>

{% endblock js %}
