{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui" />
		<meta name="description" content="HR - Монголын үндэсний их сургууль" />
		<meta name="keywords" content="admin template, Vuexy admin template, dashboard template, flat admin template, responsive admin template, web app"/>
		<meta name="author" content="PIXINVENT" />
		<title>HR - Монголын үндэсний их сургууль</title>
        <link rel="apple-touch-icon" href="{% static 'app-assets/images/ico/apple-icon-120.png' %}" />
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'app-assets/images/logo/favicon.png' %}" />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600" rel="stylesheet" />
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'app-assets/vendors/css/extensions/toastr.min.css' %}"
		/>
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static '/app-assets/css/plugins/extensions/ext-component-toastr.css' %}"
        />
        <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/vendors.min.css' %}" />
        <!-- END: Vendor CSS-->

        <!-- BEGIN: Theme CSS-->
        <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/bootstrap.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/bootstrap-extended.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/colors.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/components.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/themes/dark-layout.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/themes/bordered-layout.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/themes/semi-dark-layout.css' %}" />

        <!-- BEGIN: Page CSS-->
        <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/core/menu/menu-types/vertical-menu.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugins/forms/form-validation.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/pages/authentication.css' %}" />
        <!-- END: Page CSS-->

        <!-- BEGIN: Custom CSS-->
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}" />
        <!-- END: Custom CSS-->

    </head>
    <body class="vertical-layout vertical-menu-modern blank-page navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="blank-page">
        <div class="app-content content ">
            <div class="content-overlay"></div>
            <div class="header-navbar-shadow"></div>
            <div class="content-wrapper">
                <div class="content-header row">
                </div>
                <div class="content-body">
                    <div class="auth-wrapper auth-cover">
                        <div class="auth-inner row m-0">
                            <!-- Brand logo-->
                            <a class="brand-logo d-flex align-items-center" href="{% url 'home' %}">
                                <img style="width: 80px" src="{% static 'app-assets/images/logo/muis_vacation_logo.png' %}"/>
                                <h2 style="color: #e35728 !important" class="brand-text text-primary ms-1 mb-0">Хүний нөөцийн систем</h2>
                            </a>
                            <!-- /Brand logo-->
                            <!-- Left Text-->
                            <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
                                <div class="w-100 d-lg-flex align-items-center justify-content-center px-5"><img class="img-fluid" src="{% static 'app-assets/images/pages/login-v2.svg' %}" alt="Login V2" /></div>
                            </div>
                            <!-- /Left Text-->
                            <!-- Forgot password-->
                            <div id="forgotpassorSection" class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
                                <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
                                    <h2 class="card-title fw-bold mb-1">Нууц үг солих</h2>
                                    <form id="forgotPassowrdForm" onsubmit="forgotPassword(event)" class="auth-forgot-password-form mt-2">
                                        <div class="mb-1">
                                            <label class="form-label" for="forgot-password-email">Шинэ нууц үг</label>
                                            <input class="form-control" id="password" type="password" name="password" data-msg="Нууц үгээ оруулна уу" placeholder="········" tabindex="1" />
                                        </div>
                                        <div class="mb-1">
                                            <label class="form-label" for="forgot-password-email">Шинэ нууц үг давтах</label>
                                            <input class="form-control" id="comfirmPassword" type="password" name="comfirmPassword" data-msg="Нууц үгээ давтан оруулна уу" placeholder="········" tabindex="1" />
                                        </div>
                                        <div class="col-12 mt-1">
                                            <p class="fw-bolder">Анхааруулга:</p>
                                            <ul class="ps-1 ms-25">
                                                <li class="mb-50">Хамгийн багадаа 8 тэмдэгт</li>
                                                <li class="mb-50">Дор хаяж нэг том үсэг</li>
                                                <li>Дор хаяж нэг тоо эсвэл тэмдэгт</li>
                                            </ul>
                                        </div>
                                        <button type="submit" class="btn btn-primary w-100" tabindex="2">Хадгалах</button>
                                    </form>
                                    <p class="text-center mt-2"><a href="{% url 'account-user-login' %}"><i data-feather="chevron-left"></i> Нэвтрэх хуудас руу буцах</a></p>
                                </div>
                            </div>
                            <!-- /Forgot password-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- BEGIN: Vendor JS-->
        <script src="{% static 'app-assets/vendors/js/vendors.min.js' %}"></script>
        <!-- BEGIN Vendor JS-->

        <!-- BEGIN: Page Vendor JS-->
        <script src="{% static 'app-assets/vendors/js/forms/validation/jquery.validate.min.js' %}"></script>
        <!-- END: Page Vendor JS-->

        <!-- BEGIN: Theme JS-->
        <script src="{% static 'app-assets/js/core/app-menu.js' %}"></script>
        <script src="{% static 'app-assets/js/core/app.js' %}"></script>
        <!-- END: Theme JS-->

        <!-- BEGIN: Page JS-->
        <script src="{% static 'app-assets/js/scripts/pages/auth-login.js' %}"></script>
        <!-- END: Page JS-->
		<script src="{% static 'assets/js/api.js' %}"></script>
		<script src="{% static 'assets/js/scripts.js' %}"></script>
		<script src="{% static 'app-assets/vendors/js/extensions/toastr.min.js' %}"></script>

        <script>
            const forgotPassowrdForm = $('#forgotPassowrdForm')
            const forgotpassorSection = $('#forgotpassorSection')

            $.validator.addMethod(
                "regex",
                function(value, element, regexp) {
                    var re = new RegExp(regexp);
                    return this.optional(element) || re.test(value);
                },
                "Энэ талбарыг бөглөнө үү"
            );

            let validateForgotPassword
            if (forgotPassowrdForm.length) {
                validateForgotPassword = forgotPassowrdForm.validate({
                    rules: {
                        "password": {
                            required: true,
                            minlength: 8,
                            regex: /^.*(?=.*[a-z_а-я])(?=.*[A-Z_А-Я])(?=.*[!@#$%^&*_0-9]).*$/,
                        },
                        comfirmPassword: {
                            equalTo : "#password"
                        },
                    },
                    messages: {
                        'password': {
                            required: 'Шинэ нууц үг талбарыг бөглөнө үү.',
                            minlength: 'Нууц үг хамгийн бага даа 8 тэмдэгтийн урттай байна.',
                            regex: 'Нууц үг нь дор хаяж нэг том ,жижиг үсэг болон тоо эсвэл тусгай тэмдэгт(!@#$%^&*) агуулсан байх ёстой'
                        },
                        'comfirmPassword': {
                            equalTo: 'Шинээр оруулж байгаа нууц үг ижил байх ёстой.'
                        },
                    }
                })
            }
            const forgotPassword = async event =>
            {
                event.preventDefault()
                if(!forgotPassowrdForm.valid())
                {
                    return
                }
                const body = {
                    password: document.getElementById("password").value,
                    email: '{{email}}'
                }

                const { success } = await useLoader(fetchData("/account/forgot-password-change-pass-post/?token={{token}}", body, 'POST'), forgotpassorSection)
                if(success)
                {
                    window.location.href = "{% url 'account-user-login'%}"
                }
                else
                {
                    window.location.href = "{% url 'token-error'%}"
                }
            }

            $(window).on("load", function () {
                if (feather) {
                    feather.replace({
                        width: 14,
                        height: 14,
                    });
                }
            });
        </script>
    </body>
</html>
