
<div class="modal fade" id="addReason" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-add-new-role">
        <div class="modal-content" >
            <div class="modal-header bg-transparent">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-5 pb-5">
                <div class="text-center mb-4">
                    <h1 class="role-title">Зөвшөөрөх албан тушаалтан нэмэх</h1>
                    <p>Чөлөөний төрөлийн нэмэлт сонголтууд</p>
                </div>

                <form id="addRoleForm" method="post" class="row" onsubmit="addReasonForm(event)">
                    <div id="reason-id">
                        {% if 'create-vacation-type-reason-create' in request.permissions %}
                        <div class="col-12">
                            <label class="form-label" for="name">Шалтгааны нэр</label>
                            <input type="text" id="reason_name" name="name" class="form-control" placeholder="Шалтгааны нэр оруулах" tabindex="-1" data-msg="Шалтгааны нэр оруулна уу" />
                        </div>

                        <div class="col-12">
                            <label class="form-label" for="time_schedule">Ажиллах цагийн төрөл</label>
                            <select class="form-select" id="org_position" name="org_position">
                                <option value="" selected>-- Сонгох --</option>
                                {% for org_position in org_positions %}
                                    <option
                                        value="{{ org_position.id }}"
                                        id="{{ time_schedule.id }}"
                                    >
                                        {{ org_position.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-12 text-center mt-2">
                            <button
                                class="btn btn-primary me-1"
                                {% if 'create-vacation-type-reason-create' in request.permissions %}
                                    type="submit"
                                {% else %}
                                    data-bs-toggle="modal"
                                    data-bs-target="#warning-modal"
                                {% endif %}
                                >Бүртгүүлэх
                            </button>
                            <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">
                                Болих
                            </button>
                        </div>
                        {% endif %}

                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div>
                                        <ul class="list-group" id="card-drag-area"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>