<!--
    htmlpath: дээр modal дотор харуулах html ийн замыг явуулна
    тэгэхээр modal ашиглахын тулд тусдаа html үүсгэж түүнийгээ өгнө гэсэн үг example: pages/role/form.html

    id: modal ийг таних id
-->
<div class="modal fade" id="{{id}}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-edit-user">
        <div class="modal-content">
            <div class="modal-header bg-transparent">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pb-5 px-sm-5 pt-50">
                {% include htmlpath %}
            </div>
        </div>
    </div>
</div>
