{% extends './base.html' %}
<!--prettier-ignore-->
{% load static %}
<!--prettier-ignore-->
{% block content %}

{% block css %}

<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugins/forms/pickers/form-flat-pickr.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugins/forms/pickers/form-pickadate.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/pickers/pickadate/pickadate.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/pickers/flatpickr/flatpickr.min.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/components.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'app-assets/fonts/font-awesome/css/font-awesome.min.css' %}" />

<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Inconsolata&amp;family=Roboto+Slab&amp;family=Slabo+27px&amp;family=Sofia&amp;family=Ubuntu+Mono&amp;display=swap">

<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugins/forms/form-quill-editor.css' %}" />

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

<link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/forms/spinner/jquery.bootstrap-touchspin.css' %}">

{% endblock css %}

<div class="content-body">
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">
                        Үнэлгээний төрөл
                    </h4>
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">
                        Үнэлгээний төрөл бүртгэх
                    </h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-1 row">
                                <div class="col-sm-3">
                                    <label class="col-form-label">Үнэлгээний ангилал нэр</label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-1 row">
                                <div class="col-sm-3">
                                    <label class="col-form-label">Үнэлгээний үзүүлэлт</label>
                                </div>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input type="number" class="touchspin-step" value="45" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-9 offset-sm-3">
                            <button type="reset" class="btn btn-primary me-1 waves-effect waves-float waves-light">Бүртгэх</button>
                            <button type="reset" class="btn btn-danger waves-effect">Устгах</button>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block js %}

<script src="{% static 'app-assets/vendors/js/tables/datatable/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js' %}"></script>

<script src="{% static 'app-assets/vendors/js/pickers/pickadate/picker.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/pickers/pickadate/picker.date.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/pickers/pickadate/picker.time.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/pickers/pickadate/legacy.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js' %}"></script>

<script src="{% static 'app-assets/js/scripts/tables/table-datatables-advanced.js' %}"></script>
<script src="{% static 'app-assets/js/scripts/forms/pickers/form-pickers.js' %}"></script>

<script src="{% static 'app-assets/vendors/js/forms/spinner/jquery.bootstrap-touchspin.js' %}"></script>

<script src="{% static 'app-assets/js/scripts/forms/form-number-input.js' %}"></script>


{% endblock js %}
