{% load static %}
{% block title %}
{% load rest_framework %}
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui" />
		<meta name="description" content="HR - Хүний нөөцийн систем" />
		<meta name="keywords" content="admin template, Vuexy admin template, dashboard template, flat admin template, responsive admin template, web app"/>
		<meta name="author" content="PIXINVENT" />
		<title>HR - Хүний нөөцийн систем</title>
        <link rel="apple-touch-icon" href="{% static 'app-assets/images/ico/apple-icon-120.png' %}" />
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'app-assets/images/logo/sus_logo_shurtcut.png' %}" />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600" rel="stylesheet" />

        <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/vendors.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/extensions/toastr.min.css' %}" />
        <!-- END: Vendor CSS-->

        <!-- BEGIN: Theme CSS-->
        <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/bootstrap.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/bootstrap-extended.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/colors.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/components.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/themes/dark-layout.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/themes/bordered-layout.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/themes/semi-dark-layout.css' %}" />

        <!-- BEGIN: Page CSS-->
        <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/core/menu/menu-types/vertical-menu.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugins/forms/form-validation.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static '/app-assets/css/plugins/extensions/ext-component-toastr.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/pages/authentication.css' %}" />
        <!-- END: Page CSS-->

        <!-- BEGIN: Custom CSS-->
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}" />
        <!-- END: Custom CSS-->

        <style>
            @media screen and (min-width: 1400px) {
                .paddingStyle {
                    padding-left: 150px !important;
                }
            }

            input.form-control {
                color: rgb(78, 78, 78) !important;
            }

            input[type='text'], input[type='text']:focus, input[type='password'], input[type='password']:focus {
                background-color: #EEF7F6 !important;
                padding-block: 10px;
                color: rgb(78, 78, 78);
            }

            input[type='text']::placeholder, input[type='password']::placeholder {
                font-size: 14px;
                color: rgb(139, 139, 139);
            }

            input:-webkit-autofill,
            input:-webkit-autofill:hover,
            input:-webkit-autofill:focus,
            input:-webkit-autofill:active{
                -webkit-box-shadow: 0 0 0 30px #EEF7F6 inset !important;
            }

            .dark-layout input:-webkit-autofill, .dark-layout textarea:-webkit-autofill, .dark-layout select:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 30px #EEF7F6 inset !important;
                -webkit-text-fill-color: #b4b7bd !important;
                color: rgb(214, 21, 21);
            }

        </style>

    </head>
    <body class="vertical-layout vertical-menu-modern blank-page navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="blank-page">
        {% include './message/messages.html' %}
        <div class="app-content content ">
            <div class="content-overlay"></div>
            <div class="header-navbar-shadow"></div>
            <div class="content-wrapper">
                <div class="content-header row">
                </div>
                <div class="content-body">
                    <div class="auth-wrapper auth-cover">
                        <div class="auth-inner row m-0 bg-white">
                            <div class="d-flex col-lg-5 align-items-center auth-bg px-5 p-lg-5 bg-white">
                                <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-0 px-sm-0 ps-lg-5 mx-auto paddingStyle" style="z-index: 100; margin-top: -30px;">
                                    <div class="d-flex align-items-center me-5">
                                        <img style="width: 60px" src="{% static 'app-assets/images/logo/sus_logo.png' %}"/>
                                        <h1 style="color: black !important" class="brand-text text-primary ms-1 mb-0 fw-bolder">SMART UNIVERSITY <br>SYSTEM</h1>
                                    </div>
                                    <p class="text-secondary fw-bold my-3">Боловсролын сургалтын байгууллагын болон суралцахуйн удирдлагын цогц системд тавтай морилно уу.</p>
                                    <h1 class="card-title fw-bolder mb-1 text-primary">НЭВТРЭХ</h1>
                                    <form class="form-inline" action="{% url 'account-user-login' %}" method="post" novalidate>
                                        {% csrf_token %}
                                        <div class="mb-2">
                                            <input
                                                class="form-control"
                                                name="email"
                                                id="login-email"
                                                type="text"
                                                placeholder="И-мэйл эсвэл утасны дугаар"
                                                aria-describedby="login-email"
                                                {% if not email %} autofocus {% endif %}
                                                tabindex="1"
                                                value="{{email}}"
                                            />
                                        </div>
                                        <div class="mb-1">
                                            <div class="input-group input-group-merge form-password-toggle">
                                                <input
                                                    class="form-control form-control-merge"
                                                    type="password"
                                                    name="cpassword"
                                                    placeholder="Нууц үг"
                                                    aria-describedby="login-password"
                                                    tabindex="2"
                                                    autocomplete="on"
                                                    {% if email %} autofocus {% endif %}
                                                />
                                                <span class="input-group-text cursor-pointer" style="background-color: #EEF7F6;">
                                                    <i data-feather="eye"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="text-end">
                                            <a style="color: #097A7D; font-size: 12px;" class="fw-bolder" href="#">Нууц үгээ мартсан уу?</a>
                                        </div>
                                        <div class="col-xl-12 col-md-12 col-12 mt-2">
                                            <button class="btn btn-primary w-100 rounded-3" type="submit" tabindex="4">Нэвтрэх</button>
                                        </div>
                                        <div class="text-end mt-2">
                                            <span class="fw-bold" style="font-size: 12px;">Шинэ хэрэглэгчээр </span><a style="color: #097A7D; font-size: 12px;" class="fw-bolder" href="#">бүртгүүлэх</a>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="d-none d-lg-block col-lg-7 p-0 bg-white">
                                <div class="vh-100 d-lg-flex align-items-center justify-content-end ps-5">
                                    <img class="vh-100 opacity-0" style="transition: 1.5s;" id="main-photo" src="{% static 'app-assets/images/logo/group_2.png' %}" alt="Login V2" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'app-assets/vendors/js/vendors.min.js' %}"></script>
        <script src="{% static 'app-assets/vendors/js/forms/validation/jquery.validate.min.js' %}"></script>
        <script src="{% static 'app-assets/vendors/js/extensions/toastr.min.js' %}"></script>
        <script src="{% static 'app-assets/js/core/app-menu.js' %}"></script>
        <script src="{% static 'app-assets/js/core/app.js' %}"></script>
        <script src="{% static 'app-assets/js/scripts/pages/auth-login.js' %}"></script>
        <script>
            $(window).on("load", function ()
            {
                document.getElementById('main-photo').classList.add('opacity-100')

                if (feather)
                {
                    feather.replace({
                        width: 14,
                        height: 14,
                    });
                }
            });
        </script>
    </body>
</html>
{% endblock content %}
