{% extends 'base.html' %}
<!--prettier-ignore-->
{% load static %}
{% block css %}

<link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/tables/datatable/dataTables.bootstrap5.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/tables/datatable/responsive.bootstrap5.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/tables/datatable/buttons.bootstrap5.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/tables/datatable/rowGroup.bootstrap5.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/pickers/flatpickr/flatpickr.min.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/pickers/pickadate/pickadate.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/pickers/flatpickr/flatpickr.min.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugins/forms/pickers/form-flat-pickr.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugins/forms/pickers/form-pickadate.css' %}" />

{% endblock css %}
<!--prettier-ignore-->
{% block content %}
<!-- fixed column -->
<div class="content-body">
    <section class="app-user-view-connections">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Миний илгээсэн ажлын хүсэлтүүд</h4>
                    </div>
                    <div class="table-body">
                        <div class="table-responsive card-datatable">
                            <table class="table user-join-request ">
                                <thead class="table-light">
                                    <tr class="filter-container"></tr>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>Байгууллага</th>
                                        <th>Ажлын байр</th>
                                        <th>Огноо</th>
                                        <th>Төлөв</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tfoot class="table-light">
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>Байгууллага</th>
                                        <th>Ажлын байр</th>
                                        <th>Огноо</th>
                                        <th>Төлөв</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal modal-slide-in new-user-modal fade" id="modals-slide-in">
                    <div class="modal-dialog custom-50">
                        <form onsubmit="actionDonation(event)" id="donationForm" class="add-new-user modal-content pt-0">
                            <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                            >
                                ×
                            </button>
                            <div class="modal-header mb-1">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    Тэтгэмж, буцалтгүй тусламжийг бүртгэх
                                </h5>
                            </div>
                            <div class="modal-body flex-grow-1">
                                <div class="mb-1">
                                    <label class="form-label">Ажилтан сонгох</label>
                                    <select id="employee" name="employee" class="select2 form-select" data-msg="Cонгоно уу">
                                        <option>
                                            --------------------------
                                        </option>
                                        {% for emplo in employees %}
                                            <option value="{{ emplo.id }}">
                                                {{ emplo.user.info.last_name }} {{ emplo.user.info.first_name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-1">
                                    <label class="form-label">Төрөл сонгох</label>
                                    <select id="type" name="type" class="select2 form-select" data-msg="Cонгоно уу">
                                        <option>
                                            --------------------------
                                        </option>
                                        <option value="1">
                                            Тэтгэмж
                                        </option>
                                        <option value="2">
                                            Буцалтгүй тусламж
                                        </option>
                                    </select>
                                </div>
                                <div class="mb-1">
                                    <label class="form-label">Огноо</label>
                                    <input type="date" id="donate_date" name="donate_date" class="form-control flatpickr-basic flatpickr-input" placeholder="YYYY-MM-DD" data-msg="Хугацаа сонгоно уу" />
                                </div>
                                <div class="mb-1">
                                    <label class="form-label">Нийт үнийн дүн</label>
                                    <input id="total_cost" name="total_cost" value="0" type="text" class="form-control" placeholder="500000" data-msg="Энэ талбарыг бөглөнө үү" />
                                </div>
                                <div class="mb-1">
                                    <label class="form-label">Тайлбар</label>
                                    <textarea id="description" name="description" class="form-control" rows="3" data-msg="Энэ талбарыг бөглөнө үү" ></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary me-1 data-submit">Хадгалах</button>
                                <button id="modalCancelBtn" type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal">Болих</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="warning-modal" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-sm modal-dialog-centered modal-edit-user">
			<div class="modal-content">
				<div class="modal-header bg-transparent">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body text-center">
					<div class="text-center">
						<i class="fas fa-exclamation-circle text-warning fs-40"></i>
					</div>
					<h6 class="mt-1 mb-1 fw-bolder">Анхааруулга<h6>
					Та цуцлахдаа итгэлтэй байна уу
				</div>
				<div class="modal-footer">
					<button
						class="btn btn-primary"
						data-bs-dismiss="modal"
						type="button"
						onclick="deleteOneDonate()"
					>
						<span>Тийм</span>
					</button>
					<button
						class="btn btn-outline-secondary"
						data-bs-dismiss="modal"
					>
						Үгүй
					</button>
				</div>
			</div>
		</div>
	</div>
    <div class="modal fade" id="pdf-modal" tabindex="-1" aria-labelledby="referEarnTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl modal-refer-earn modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header bg-transparent">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body pb-5 px-sm-0">
                    <div class="text-center mb-2">
                        <h2 class="mb-1">Чиглүүлэх хөтөлбөр</h2>
                    </div>
                    <div class="px-sm-4 mx-50 pdfs">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block js %}
    <script src="{% static 'app-assets/vendors/js/tables/datatable/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/tables/datatable/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/tables/datatable/responsive.bootstrap5.min.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/tables/datatable/datatables.checkboxes.min.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/tables/datatable/datatables.buttons.min.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/tables/datatable/jszip.min.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/tables/datatable/pdfmake.min.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/tables/datatable/vfs_fonts.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/tables/datatable/buttons.html5.min.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/tables/datatable/buttons.print.min.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/tables/datatable/dataTables.rowGroup.min.js' %}"></script>

    <script src="{% static 'app-assets/vendors/js/pickers/pickadate/picker.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/pickers/pickadate/picker.date.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/pickers/pickadate/picker.time.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/pickers/pickadate/legacy.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js' %}"></script>

    <script src="{% static 'app-assets/js/scripts/tables/table-datatables-basic.js' %}"></script>
    <script src="{% static 'app-assets/js/scripts/tables/table-datatables-fixedColumns.min.js' %}"></script>

    <script src="{% static 'app-assets/js/scripts/forms/pickers/form-pickers.js' %}"></script>
    <script src="{% static 'assets/js/pdf.js' %}"></script>

    <script>

        var requestId
        var userRequestTable
        var pdfModal = $("#pdf-modal")
        var pdfs = pdfModal.find(".pdfs")
        var warningModal = $("#warning-modal")

        cloneFooter(
            ".user-join-request",
            [
                2, 3, 4
            ]
        )

        userRequestTable = $(".user-join-request").DataTable({
            processing: false,
            dom: 'lBfrtip',
            serverSide: true,
            ajax: { url: "{% url 'ads-my-requests' request_states.0.0 %}" }, // JSON file to add data
            columns: [
                // columns according to JSON
                { data: null },
                { data: null },
                { data: "org_name" },
                { data: "org_position_name" },
                { data: "created_at" },
                { data: "state" },
                { data: null },
            ],
            columnDefs: [
                {
                    // For Responsive
                    className: "control",
                    orderable: false,
                    responsivePriority: 2,
                    targets: 0,
                    render: function (data, type, full, meta) {
                        return "";
                    },
                },
                {
                    // Actions
                    targets: -1,
                    title: "Үйлдэл",
                    orderable: false,
                    render: function (data, type, full, meta) {
                        if(full.state !== 'Хүлээгдэж буй') return null
                        return (
                            `
                                <span
                                    onclick=(showWarningModal(${full.id}))
                                    class="text-primary-orange delete-record cursor-pointer"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    data-bs-original-title="Цуцлах"
                                >
                                    ${
                                        feather.icons["trash-2"].toSvg({
                                            class: "font-small-4",
                                        })
                                    }
                                </span>
                                ${
                                    full.is_send_uureg
                                    ?
                                        `
                                            <span
                                                data-bs-toggle="tooltip"
                                                data-bs-placement="top"
                                                data-bs-original-title="Чиглүүлэх хөтөлбөр харах"
                                                onclick="handleChigluuleh(${full.id}, event)"
                                                class="cursor-pointer delete-record text-success ms-1"
                                            >
                                                ${
                                                    feather.icons['book-open'].toSvg()
                                                }
                                            </span>
                                        `
                                    :   ""
                                }
                            `
                        );
                    },
                },
                {
                    targets: 4,
                    orderable: true,
                    render: function (data, type, full, meta) {
                        return timeZoneToDateString(full.created_at);
                    },
                },
                {
                    targets: 1,
                    title: "#",
                    orderable: false,
                    render: function (data, type, full, meta) {
                        return (
                            meta.settings._iDisplayStart + meta.row + 1
                        );
                    },
                },
                {
                    targets: [5],
                    orderable: false,
                },
            ],
            order: [[4, "desc"]],
            lengthMenu: [
                [10, 25, 50, 100, -1],
                [10, 25, 50, 100, 'Бүгд'],
            ],
            dom:
                '<"d-flex justify-content-between align-items-center header-actions mx-2 row mt-75"' +
                '<"col-sm-12 col-lg-4 d-flex justify-content-center justify-content-lg-start" l>' +
                '<"col-sm-12 col-lg-8 ps-xl-75 ps-0"<"dt-action-buttons d-flex align-items-center justify-content-center justify-content-lg-end flex-lg-nowrap flex-wrap"<"me-1">B>>' +
                ">t" +
                '<"d-flex justify-content-between mx-2 row mb-1"' +
                '<"col-sm-12 col-md-6"i>' +
                '<"col-sm-12 col-md-6"p>' +
                ">",
            oLanguage: {
                sProcessing: "Ачааллаж байна. ",
                sSearch: "Хайх: ",
                sEmptyTable: "Бичлэг байхгүй",
                sInfoEmpty: "Нийт 0 бичлэг",
                sInfo: "Дэлгэцэнд: _START_ - _END_ Нийт: _TOTAL_ бичлэг",
                sInfoFiltered: " - _MAX_ бичлэгээс",
                sLengthMenu: "_MENU_ бичлэг",
                oPaginate: {
                    sFirst: "Эхэнд",
                    sLast: "Төгсгөлд",
                    sNext: "Дараах",
                    sPrevious: "Өмнөх",
                },
            },
            // Buttons with Dropdown
            buttons: [
                {
                    extend: "collection",
                    className: "btn btn-outline-secondary dropdown-toggle me-2",
                    text:
                        feather.icons["external-link"].toSvg({
                            class: "font-small-4 me-50",
                        }) + "Export",
                    buttons: [
                        {
                            extend: "print",
                            text:
                                feather.icons["printer"].toSvg({
                                    class: "font-small-4 me-50",
                                }) + "Print",
                            className: "dropdown-item",
                            exportOptions: { columns: [1, 2, 3, 4, 5] },
                        },
                        {
                            extend: "csv",
                            text:
                                feather.icons["file-text"].toSvg({
                                    class: "font-small-4 me-50",
                                }) + "Csv",
                            className: "dropdown-item",
                            exportOptions: { columns: [1, 2, 3, 4, 5] },
                        },
                        {
                            extend: "excel",
                            text:
                                feather.icons["file"].toSvg({
                                    class: "font-small-4 me-50",
                                }) + "Excel",
                            className: "dropdown-item",
                            exportOptions: { columns: [1, 2, 3, 4, 5] },
                        },
                        {
                            extend: "pdf",
                            text:
                                feather.icons["clipboard"].toSvg({
                                    class: "font-small-4 me-50",
                                }) + "Pdf",
                            className: "dropdown-item",
                            exportOptions: { columns: [1, 2, 3, 4, 5] },
                        },
                        {
                            extend: "copy",
                            text:
                                feather.icons["copy"].toSvg({
                                    class: "font-small-4 me-50",
                                }) + "Copy",
                            className: "dropdown-item",
                            exportOptions: { columns: [1, 2, 3, 4, 5] },
                        },
                    ],
                    init: function (api, node, config) {
                        $(node).removeClass("btn-secondary");
                        $(node).parent().removeClass("btn-group");
                        setTimeout(function () {
                            $(node)
                                .closest(".dt-buttons")
                                .removeClass("btn-group")
                                .addClass("d-inline-flex mt-50");
                        }, 50);
                    },
                },
                {
                    extend: "collection",
                    className: "btn btn-outline-secondary dropdown-toggle me-2",
                    text: 'Төлөв: {{request_states.0.1}}',
                    attr: {
                        "id": "state-filter",
                    },
                    buttons: [
                        {% for id, name in request_states %}
                            {
                                extend: "",
                                text: "{{name}}",
                                className: "dropdown-item",
                                action: (...args) => stateFilter(...args, '{{id}}', '{{name}}')
                            },
                        {% endfor %}
                    ]
                },
            ],
        });
    searchFooter(userRequestTable)

    const dropDownBtn = $('#state-filter')
    function stateFilter(e, slipTable, node, config, id, name)
    {
        dropDownBtn.trigger("click")
        // dotoodState = id
        dropDownBtn.html(`Төлөв: ${name}`)
        slipTable.ajax.url(`/work-ad/ads-my-requests/${id}/`).load()
    }

    function displayPdfs(chigluulehs)
    {
        let html = ""
        pdfs.html("")
        if (!chigluulehs.length)
        {
            pdfs.html(`
                <span class="d-flex align-items-center text-muted justify-content-center my-2">
                    Хоосон байна
                </span>
            `)
            return
        }

        chigluulehs.map(
            (chigluuleh, idx) =>
            {
                html += `
                    <div
                        class="card-border mt-1 mb-1 cursor-pointer"
                        data-bs-toggle="collapse"
                        href="#col-${idx}-col"
                        aria-expanded="false"
                        aria-controls="colfamily"
                    >
                        ${chigluuleh.name}
                        <smal>
                            ${chigluuleh.description}
                        </smal>
                    </div>
                    <div class="collapse" id="col-${idx}-col">
                        <div id="pdf-${idx}-pdf">
                        </div>
                    </div>
                `
            }
        )

        pdfs.html(html)
        chigluulehs.map(
            (chig, idx) =>
            {
                if (chig.pdfs.length)
                {
                    renderPDF(chig.pdfs, `#pdf-${idx}-pdf`);
                }
                else {
                    $(`#pdf-${idx}-pdf`).html(`
                        <span class="d-flex align-items-center text-muted justify-content-center my-2">
                            Файл байхгүй байна
                        </span>
                    `)
                }
            }
        )
    }

    function handleChigluuleh(id, event)
    {
        pdfModal.modal("show")
        useLoader(
            fetchData(`/work-ad/${id}/chigluuleh/`),
            pdfs.parent()
        )
            .then(
                ({ success, data }) =>
                {
                    if (success)
                    {
                        displayPdfs(data)
                    }
                }
            )
    }

    function showWarningModal(id)
    {
        requestId = id
        warningModal.modal("show")
    }

    const deleteOneDonate = async () =>
    {
        const { success } = await fetchData(`/work-ad/ads-my-request/${requestId}/`, null, 'DELETE')
        if(success)
        {
            userRequestTable.ajax.reload(false, false)
        }
    }
    </script>
{% endblock js %}
