
<!--
    URL: #warning-modal
    Нэр: Permission
    Төрөл: Modal
    Дэлгэрэнгүй: Эрх байхгүй бол алдааны модал буцаана
-->

<div class="modal fade" id="warning-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered modal-edit-user">
        <div class="modal-content">
            <div class="modal-header bg-transparent">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <div class="text-center">
                    <i class="fas fa-exclamation-circle text-warning fs-40"></i>
                </div>
                <h6 class="mt-1 mb-1 fw-bolder">Анхааруулга<h6>
                Танд эрх байхгүй байна
            </div>
            <div class="modal-footer">
                <button
                    class="btn btn-outline-secondary"
                    data-bs-dismiss="modal"
                >
                    Хаах
                </button>
            </div>
        </div>
    </div>
</div>
